@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;
}
  
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/pt-sans-bold.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #F2F2F2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}
.navigation-button{
  background-color: #756257;  
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
}
.search-button{
  background-color: #756257;  
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;  
}
.newsletter-button{
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #83B3D3;  
}
.field{
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  opacity: 0.6;
  background-color: #F2F2F2;  
}
.filter-button{
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #83B3D3;
}
.filter-reset{
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
  background-color: transparent;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  background: #FFFFFF;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.page-header {
  color: #000000;
  background-color: #FFFFFF;
  margin: 0 auto;
}

/* ------------------------------------------------------------ */
.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.navigation-link {
  display: block;
  padding: 20px 17px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
 } 


.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-left: 30px;
  padding: 0;
  width: 460px;
  list-style-type: none;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  max-width: 306px;
  margin-left: auto;
  justify-content: space-between;   
}
.navigation-user .navigation-link {
  min-width: 18px;
  min-height: 18px;
}
/* ------------------------------------------------------------------- */

.main-container {
  flex-grow: 1;
  padding-top: 51px;  
} 
.main-index {
  color: #333333;
  background-color: #d383b2;
  background-image: url("../images/index-images/index-background.jpg ");  
  background-size: 100% auto;
  background-repeat: no-repeat;
}
/* добро пожаловать------------------------------------------------------------------- */

.welcome{      
  text-align: center;  
}
.welcome-logo {
  display: block;
  margin: 0 auto;
}
.divider{  
  display: block;
  margin-top: 25px;
}

/* преимущества ---------------------------------------------------------------------*/
.advantages {  
  margin: 0;
  padding: 0; 
  padding-top: 63px; 
  background-color: #FFFFFF;
}

.advantages-title{  
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}
.advantages-look{
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 36px;
  text-align: center;
  color: #333333;
  padding-top: 31px;
  padding-bottom: 80px;
}

.advantages-list{
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}
.advantages-item-title {
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  vertical-align: Top;
  text-transform: uppercase;
}
.advantages-description {
  color: #333333;  
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
.advantages-item {
  text-align: Center;  
}
.advantages-item-image {
  display: flex;
   margin: 0;
   padding: 0;
}
.item-blue {
  color: #FFFFFF;
  background: #83B3D3;
  width: 400px;
  height: 384px;    
}
.advantages-item span {
  color: #333333;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
}


/* внутренний список преимуществ, с иконками--------------------- */

.advantages-list-icon {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;  
}

.advantages-item-icon {
  width: 400px;
  height: 384px;
  text-align: Center;
  
  background-color: rgba(131, 179, 211, 0.12);
}



/* ------------------выборка :nth-child()*/

.advantages-item-icon:nth-child(2) {  
  background-color: #FFFFFF;
}
.advantages-item-icon:nth-child(4) {  
  background-color: rgba(131, 179, 211, 0.2);
}


/*----- поиск гомтиницы----------------------------------------------------------------- */
.hotel-search{
  margin: 0;
  padding: 0;
  padding-top: 91px;
  width: 1200px;
  height: 417px;
  background: #FFFFFF;
  text-align: center;

}
.hotel-search-title{
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}
.hotel-search-description{
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

/* рассылка ---------------------------------------------------------------------*/

.newsletter{
  margin: 0;
  padding: 0;
  
  width: 1200px;
  height: 411px;
  
  color: #FFFFFF;
  background-color: #333333;
  background-image: url("../images/index-images/mail-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;  
  text-align: center; 

}
.newsletter-title{  
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.newsletter-description{
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
}

/* рассылка каталог---------------------------------- */

.newsletter-catalog{    
  background-color: #FFFFFF;
  text-align: center; 
}
.newsletter-title-catalog{
  color: #000000;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}
.newsletter-description-catalog{
  color: #333333;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;  
}

/* подвал---------------------------------------------------------------------------- */

.page-footer-phone{
  font-family: PT Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;

}

/* --------------КАТАЛОГ------------------------------------------------------------ */
  /* ----------------------------------------------------------------------------- */

.catalog-header {
  color: #FFFFFF;
  background-color: #333333; /*картинки пока не хватает, поэтому "фонит" из-под неё*/
  background-image: url("../images/catalog-images/filters-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.inner-header-title {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;  
}

/* "хлебные крошки" крошки */

.breadcrumbs {
  color: #FFFFFF;
}
.breadcrumbs-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}

/* сортировка */

.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #FFFFFF;  
}
.catalog-filter-item{
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;  
  color: #FFFFFF;
}

.sorting p{
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
  color: #000000;
}
.sorting-container {
  color: #333333;
  background-color: #FFFFFF;
}

/* карточки */

.hotels-card{
  background-color: #FFFFFF;
}
.hotels-card-link {
  text-decoration: none;
}
.hotels-card-title {
  font-weight: 700;   
  font-size: 24px;
  line-height: 31px;
  color: #000000;
}
.hotels-card p {
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}
.hotels-card-button-link {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756257;
}
.hotels-card-button{
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #83B3D3;
}
.rating{
  background-color: #F2F2F2;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  font-style: normal;
  font-weight: 400;
}

.load-more-button{
  color: #FFFFFF;
  background-color: #83B3D3;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.count-hotels{
  color: #333333;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  background-color: #FFFFFF;
}

/* пагинация--------------------------------------------------------------------- */
.pagination {
  background-color: #ffffff;
}

.pagination-link {
  color: #ffffff;
  background-color: #83B3D3;
  text-decoration: none;
  line-height: 26px;
  font-weight: 700;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

/* форма _гостиниц на странице */

.count-hotels {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

/* подвал--------------------------------------------------------------- */

.page-footer-container {
  display: flex;
  width: 1056px; 
  margin: 0 auto;
}
.footer-social{
  width: 107px;
  margin-right: 61px;
}